@charset "UTF-8";
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Bold.eot");
  src: url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Bold.woff2") format("woff2"), url("../fonts/Vazir-Bold.woff") format("woff"), url("../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Black.eot");
  src: url("../fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Black.woff2") format("woff2"), url("../fonts/Vazir-Black.woff") format("woff"), url("../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Medium.eot");
  src: url("../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Medium.woff2") format("woff2"), url("../fonts/Vazir-Medium.woff") format("woff"), url("../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Light.eot");
  src: url("../fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Light.woff2") format("woff2"), url("../fonts/Vazir-Light.woff") format("woff"), url("../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Thin.eot");
  src: url("../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Thin.woff2") format("woff2"), url("../fonts/Vazir-Thin.woff") format("woff"), url("../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #e67e22;
  --color-primary-dark: #cf6d17;
  --color-white: #fff;
  --color-gray-1: #f4f4f4;
  --color-gray-2: #fcfcfc;
  --color-white-alpha-lg: rgba(255, 255, 255, 0.7);
  --color-black-alpha-xs: rgba(0, 0, 0, 0.08);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  direction: rtl;
}
@media (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Vazir", "tahoma", "Arial", sans-serif;
  color: #555;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.45;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.hamberger {
  display: none;
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  background-color: rgba(71, 179, 187, 0.87);
  color: var(--color-white);
  border-radius: 50%;
  padding: 1.5rem;
  z-index: 20;
  line-height: 0;
}
@media (max-width: 36em) {
  .hamberger {
    display: block;
  }
}

.ham__icon {
  width: 4rem !important;
  height: 4rem !important;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #333;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 15;
  opacity: 0;
  transition: all 0.7s;
  display: grid;
  place-items: center;
}
.overlay__list {
  list-style: none;
  width: 80%;
}
.overlay__link:link, .overlay__link:visited {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  transition: all 0.5s;
  border-radius: 10rem;
}
.overlay__link:hover, .overlay__link:active {
  background-color: var(--color-white);
  color: #333;
}

.header {
  min-height: 55rem;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero-min.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.header__btns {
  font-size: 2rem;
}
.header__btns .btn--primary {
  margin-left: 15px;
}
@media (max-width: 62em) {
  .header__btns {
    font-size: 1.8rem;
  }
}

.hero-text-box {
  max-width: 114rem;
  width: 92%;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.header__logo {
  height: 10.5rem;
}
@media (max-width: 62em) {
  .header__logo {
    height: 9rem;
  }
}
@media (max-width: 48em) {
  .header__logo {
    height: 8rem;
  }
}

.main-nav {
  list-style: none;
  display: flex;
}
@media (max-width: 36em) {
  .main-nav {
    display: none;
  }
}
.main-nav__item:not(:last-child) {
  margin-left: 4rem;
}
.main-nav__link:link, .main-nav__link:visited {
  color: var(--color-white-alpha-lg);
  text-decoration: none;
  font-size: 1.8rem;
  display: inline-block;
  padding: 8px 0;
  transition: all 0.5s;
  border-bottom: 2px solid transparent;
}
.main-nav__link:hover, .main-nav__link:active {
  color: var(--color-white);
  border-bottom: 2px solid var(--color-primary);
}

section {
  padding: 8rem 0;
  transition: all 1s;
}
@media (max-width: 48em) {
  section {
    padding: 6rem 0;
  }
}
@media (max-width: 36em) {
  section {
    padding: 4rem 0;
  }
}

/* ---------------- 
 Headers 
---------------- */
.heading-primary {
  font-size: 4.8rem;
  font-weight: 300;
  word-spacing: 3px;
  color: var(--color-white);
  margin-bottom: 2rem;
}
@media (max-width: 62em) {
  .heading-primary {
    font-size: 3.7rem;
  }
}
@media (max-width: 48em) {
  .heading-primary {
    font-size: 3.4rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 3rem;
}
@media (max-width: 48em) {
  .heading-secondary {
    font-size: 3.1rem;
  }
}
@media (max-width: 36em) {
  .heading-secondary {
    font-size: 2.7rem;
  }
}

.heading-secondary::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--color-primary);
  width: 10rem;
  margin: 3rem auto 0;
}

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

/* ---------------- 
 Buttons 
---------------- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 10rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
}

.btn--primary:link,
.btn--primary:visited {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn--secondary:link,
.btn--secondary:visited {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn:hover,
.btn:active {
  background-color: var(--color-primary-dark);
}

.btn--primary:hover,
.btn--primary:active {
  border: 1px solid var(--color-primary-dark);
}

.btn--secondary:hover,
.btn--secondary:active {
  color: var(--color-white);
  border: 1px solid var(--color-primary-dark);
}

/* ---------------- 
 Icon 
---------------- */
.section-features {
  background-color: #f9f9f9;
}

.features__text {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  font-size: 1.9rem;
  margin-bottom: 4rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

.feature {
  background-color: #fff;
  padding: 3rem 1.5rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.feature__icon {
  height: 5rem;
  width: 5rem;
  fill: var(--color-primary);
}
.feature__heading {
  margin-top: 0.5rem;
}
.feature__description {
  font-size: 1.6rem;
  text-align: right;
}

.section-gallery {
  padding: 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 48em) {
  .section-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery__item {
  overflow: hidden;
  background-color: #000;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  transform: scale(1.1);
  filter: grayscale(0.3) opacity(0.8);
}
.gallery__img:hover {
  transform: scale(1.02);
  filter: grayscale(0) opacity(1);
}

.section-steps {
  background-color: #f4f4f4;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 36em) {
  .app {
    flex-direction: column;
  }
}
.app__img {
  flex: 1 0 40%;
  padding-left: 3rem;
  text-align: left;
}
@media (max-width: 48em) {
  .app__img {
    flex: 0 0 40%;
  }
}
@media (max-width: 36em) {
  .app__img {
    flex: 1 1 auto;
    text-align: center;
    padding-left: 0;
    padding-bottom: 3rem;
  }
}
.app__steps {
  flex: 1 0 60%;
  padding-right: 3rem;
}
@media (max-width: 48em) {
  .app__steps {
    flex: 0 0 60%;
  }
}
@media (max-width: 36em) {
  .app__steps {
    flex: 1 1 auto;
    padding-right: 0;
    padding-top: 3rem;
  }
}
.app-screen {
  width: 50%;
}
@media (max-width: 62em) {
  .app-screen {
    width: 60%;
  }
}
@media (max-width: 48em) {
  .app-screen {
    width: 70%;
  }
}
.app__btns {
  margin-top: 5rem;
}
@media (max-width: 36em) {
  .app__btns {
    text-align: center;
  }
}
.app__btn {
  text-decoration: none;
}
.app__btn:first-child {
  margin-left: 1rem;
}
.app__btn img {
  height: 6rem;
}
@media (max-width: 48em) {
  .app__btn img {
    height: 4.5rem;
  }
}
@media (max-width: 36em) {
  .app__btn img {
    height: 7rem;
  }
}

.step {
  display: flex;
  align-items: center;
}
.step:not(:last-child) {
  margin-bottom: 4rem;
}
.step__count {
  flex: 0 0 5rem;
  color: var(--color-primary);
  margin-left: 1.5rem;
  border: 2px solid var(--color-primary);
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
}
.step__description {
  font-size: 2rem;
}

.cities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 3rem;
  row-gap: 5rem;
}

.city {
  background-color: #f7f7f7;
  box-shadow: 0 0.5rem 1rem var(--color-black-alpha-xs);
  font-size: 1.9rem;
  padding-bottom: 2rem;
}
.city__heading, .city__features {
  padding: 0 1rem;
}
.city__img {
  width: 100%;
}
.city-feature {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}
.city-feature .icon {
  color: var(--color-primary);
  margin-left: 5px;
  margin-top: -3px;
}

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/back-customers-min.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  column-gap: 3rem;
  row-gap: 6rem;
}

.testimonial {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.testimonial__text {
  margin-bottom: 2rem;
  font-size: 1.9rem;
  line-height: 1.6;
}
@media (max-width: 48em) {
  .testimonial__text {
    margin-bottom: 1.2rem;
  }
}
.testimonial__text::before {
  content: "”";
  font-size: 8rem;
  display: block;
  position: absolute;
  top: -3rem;
  right: 0;
}
.testimonial__author {
  display: flex;
  align-items: center;
}
.testimonial__author-img {
  height: 5rem;
  border-radius: 50%;
  margin-left: 2rem;
}

blockquote {
  font-style: italic;
}

@keyframes pulse {
  50% {
    transform: scale(1.02);
    backface-visibility: hidden;
  }
}
.section-plans {
  background-color: var(--color-gray-1);
}

.plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  column-gap: 4rem;
  row-gap: 4rem;
}

.plan {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem var(--color-black-alhpa-xs);
}
.plan:first-child {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 5;
  animation-play-state: paused;
}
.plan > div {
  padding: 1.5rem;
  border-bottom: 1px solid #efefef;
}
.plan > div:last-child {
  border-bottom: none;
}
.plan__price-box {
  background-color: var(--color-gray-2);
  flex: 4 1 auto;
}
.plan__price {
  color: var(--color-primary-dark);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 36em) {
  .plan__price {
    text-align: center;
  }
}
.plan__price span {
  font-size: 4rem;
  color: var(--color-primary);
}
.plan__price-meal {
  font-size: 1.4rem;
}
.plan__features {
  flex: 6 1 auto;
}
.plan__list {
  list-style-type: none;
}
.plan__item {
  font-size: 1.9rem;
  padding: 0.5rem 0;
}
.plan__icon {
  color: var(--color-primary);
  display: inline-block;
  margin-left: 8px;
}
.plan__signup {
  text-align: center;
  font-size: 2rem;
}

.form {
  width: 60%;
  margin: 1rem auto;
}
.form-group {
  display: flex;
  align-items: center;
}
.form-group:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form label {
  font-size: 1.6rem;
  flex: 1 1 20rem;
}
.form__input, .form__select {
  display: block;
  padding: 5px 1rem;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  width: 100%;
  color: inherit;
  margin-right: 4rem;
}
.form__input:focus, .form__select:focus {
  outline: none;
}
.form__textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-right: 4rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.form__textarea:focus {
  outline: none;
}

.footer {
  background-color: #333;
  color: #888;
  padding: 4rem 0;
}
.footer__navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 48em) {
  .footer__navs {
    flex-direction: column;
  }
}
.footer__nav-list {
  list-style: none;
  display: flex;
}
@media (max-width: 48em) {
  .footer__nav-list {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 36em) {
  .footer__nav-list {
    flex-direction: column;
  }
}
.footer__nav-item {
  flex-grow: 1;
}
.footer__nav-link:link, .footer__nav-link:visited {
  color: #888;
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.25s;
  text-align: center;
}
@media (max-width: 36em) {
  .footer__nav-link:link, .footer__nav-link:visited {
    padding: 4px 2rem;
  }
}
.footer__nav-link:hover, .footer__nav-link:active {
  color: #ddd;
}

.social__list {
  list-style: none;
  display: flex;
}
.social__list svg {
  height: 2rem;
  width: 2rem;
  transition: all 0.7s;
}

.social__link:link,
.social__link:visited {
  color: #888;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

.social__link:hover .icon-facebook2,
.social__link:active .icon-facebook2 {
  fill: #3b5998;
}
.social__link:hover .icon-twitter,
.social__link:active .icon-twitter {
  fill: #00aced;
}
.social__link:hover .icon-google-plus2,
.social__link:active .icon-google-plus2 {
  fill: #dd4b39;
}
.social__link:hover .icon-instagram,
.social__link:active .icon-instagram {
  fill: #517fa4;
}

.copy-text {
  width: 80%;
  margin: 3rem auto 0;
  text-align: center;
  font-size: 1.6rem;
}

.copy-text a:link,
.copy-text a:visited {
  color: #eee;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

.copy-text a:hover,
.copy-text a:active {
  border-bottom: 1px solid deepskyblue;
}

.copy-text .icon-heart {
  height: 1.2rem;
  width: 1.2rem;
  color: red;
  vertical-align: middle;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 92%;
}
@media (max-width: 48em) {
  .container {
    width: 89%;
  }
}
@media (max-width: 36em) {
  .container {
    width: 86%;
  }
}

.mt-sm {
  margin-top: 2rem;
}

.mt-lg {
  margin-top: 4rem;
}

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.hidden {
  display: none;
}

.section--hidden {
  opacity: 0;
}

.play {
  animation-play-state: running !important;
}

/*# sourceMappingURL=style.css.map */
