// .section-cities {

// }

.cities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 3rem;
  row-gap: 5rem;
}

.city {
  background-color: #f7f7f7;
  box-shadow: 0 0.5rem 1rem var(--color-black-alpha-xs);
  font-size: 1.9rem;
  padding-bottom: 2rem;

  &__heading,
  &__features {
    padding: 0 1rem;
  }

  &__img {
    width: 100%;
  }

  &-feature {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;

    .icon {
      color: var(--color-primary);
      margin-left: 5px;
      margin-top: -3px;
    }
  }
}
