@use "vars" as *;
.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 92%;

  @media (max-width: $bp-md) {
    width: 89%;
  }

  @media (max-width: $bp-sm) {
    width: 86%;
  }
}

.mt-sm {
  margin-top: 2rem;
}

// .mt-hg {
//   margin-top: 6rem;
// }

.mt-lg {
  margin-top: 4rem;
}

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.hidden {
  display: none;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.play {
  animation-play-state: running !important;
}
